<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tusimaka Airlines</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    
    <script type="text/javascript">
        @*if (@ViewBag.Innlogget ==true)
        {
                $(document).ready(function () {
                    $(".navbar-nav").removeAttr("hidden");
                    $(".loggUt").removeAttr("hidden");
                    $(".navbar").find(".active").removeClass("active");
                    $(".hjem").addClass("active");
            });
        }*@
    </script>
    
</head>
<body>
    <div class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header navbar-left" >
                    @Html.ActionLink("TUSIMAKA AIRLINES", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav">
                    <li class="hjem">@Html.ActionLink("Hjem", "AdminStart", "Admin")</li>
                    <li class="kundeAdministrer"><a href="../Admin/KundeAdministrer">Administrer kunder</a></li>
                    <li class="flyruterAdministrer"><a href="../Admin/FlyruterAdministrer">Administrer flyruter</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("LOGG UT", "LoggUt", "Admin")</li>
                </ul>
            </div>
        </div>
        @*<div class="navbar navbar-default navbar-fixed-top">

            <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            @Html.ActionLink("Tusimaka Airlines", "Bestill", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>

                        </li>
                    </ul>
                    <span class="loggUt navbar-right">@Html.ActionLink("LOGG UT", "LoggUt")</span>

                </div>*@

        @*<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @Html.ActionLink("Admin Logg inn", "LoggInn", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </ul>
        </div>*@


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Copyright Tusimaka Airlines</p>
            </footer>

        </div>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>