@model IEnumerable<Tusimaka.Model.Strekning>

@{
    ViewBag.Title = "FlyruterAdministrer";
}
<link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Viser navbar-knappene kun når Admin er logget inn.
        $(".navbar-nav").removeAttr("hidden");

        // Gjør om logginn-knapp til loggut-knapp.
        $(".loggInnUt").attr("href", "/Admin/LoggUt");
        $(".loggInnUt").text("LOGG UT");

        // Gir den aktive siden en active-klasse med styling som markerer.
        $(".navbar").find(".active").removeClass("active");
        $(".flyruterAdministrer").addClass("active");

        $('a[data-sletteFlyruterModal=true]').click(function () {
            var data_navn = $(this).data('navn');
            var data_id = $(this).data('id');
            $('#slettFlyrute').html(data_navn);
            $("#sletteFlyruteModalKnapp").click(function () {
                $.ajax({
                    url: '@Url.Action("slettFlyrute", "Admin")',
                    data: { id: data_id },
                    success: function () {
                        console.log("Dette funker - ajax url action slettFlyrute");
                        $.ajax({
                            url: '@Url.Action("FlyruterAdministrer", "Admin")',
                            success: function () {
                                window.location.reload();
                            }
                        });
                    }
                });
            });
        });
    });
</script>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Administrer Flyruter</h2>
            </div>
        </div>
            <div class="row header-spacing">
                <div class="col-lg-12">
                    <span class="miniMenyKnapp">@Html.ActionLink("TILBAKE", "AdminStart")</span>
                    <span class="miniMenyKnapp">@Html.ActionLink("LEGG TIL", "RegistrerFlyrute")</span>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Fra
                        </th>
                        <th>
                            Til
                        </th>
                        <th>
                            Dato
                        </th>
                        <th>
                            KL
                        </th>
                        <th>
                            Pris
                        </th>
                        <th>
                            Reisetid
                        </th>
                        <th>
                            Ledige seter
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StrekningsID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FraFlyplass)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TilFlyplass)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dato)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pris)
                            </td>
                            <td>
                                @{string ok = item.ToString();}
                                @Html.DisplayFor(modelItem =>ok)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AntallLedigeSeter)
                            </td>
                            <td class="rundknapp-spacing">
                                <div class="rundKnapp">
                                    <div class="miniKnapp endre" title="Endre flyruten">
                                        @Html.ActionLink("Endre", "EndreFlyrute", new { id = item.StrekningsID }, new { @class = "tabKnapp" })
                                    </div>
                                </div>
                            </td>
                            <td class="rundknapp-spacing">
                                <div class="rundKnapp">
                                    <div class="miniKnapp slett" title="Slett flyruten">
                                        <a href="#sletteFlyruterModal" class="tabKnapp" id="sletteKnapp"
                                           data-navn="<i>Id: @item.StrekningsID</i><br/>Fra: @item.FraFlyplass <br/>Til: @item.TilFlyplass <br/>Den: @item.Dato <br/>Klokken: @item.Tid" @*Fjernet at vi viste frem all data!*@
                                           data-id="@item.StrekningsID" data-toggle="modal" data-sletteFlyruterModal="true">Slett</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
                </div>
            </div>
            <div class="row">
                @Html.Partial("SlettFlyruterModal")
            </div>
        </div>
</body>
