@model IEnumerable<Tusimaka.Model.Strekning>

@{
    ViewBag.Title = "FlyruterAdministrer";
}
<link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        $('a[data-sletteFlyruterModal=true]').click(function () {
            var data_navn = $(this).data('navn');
            var data_id = $(this).data('id');
            $('#slettFlyrute').html(data_navn);
            $("#sletteFlyruteModalKnapp").click(function () {
                $.ajax({
                    url: '@Url.Action("slettFlyrute", "Admin")',
                    data: { id: data_id },
                    success: function () {
                        console.log("Dette funker - ajax url action slettFlyrute");
                        $.ajax({
                            url: '@Url.Action("FlyruterAdministrer", "Admin")',
                            success: function () {
                                window.location.reload();
                            }
                        });
                    }
                });
            });
        });

            // lag en hendelse som utføres når en a-href med "data-SletteModal = true" trykkes.
            $('a[data-visFlyruterModal=true]').click(function () {

                var data_navn = $(this).data('navn');
                var data_id = $(this).data('id');

                $('#visFlyrute').html(data_navn);
            });
        });
</script>
<body>
    <div class="container">
        <div class="row">
            <h2>Administrer Flyruter</h2>
            <span class="loggUt">@Html.ActionLink("LOGG UT", "LoggUt")</span>
        </div>
        <div class="row">
                <span class="miniMenyKnapp">@Html.ActionLink("TILBAKE", "AdminStart")</span>
                <span class="miniMenyKnapp">@Html.ActionLink("LEGG TIL", "RegistrerFlyrute")</span>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th>
                        Fra
                    </th>
                    <th>
                        Til
                    </th>
                    <th>
                        Dato
                    </th>
                    <th>
                        Tidspunkt
                    </th>
                    <th>
                        Pris
                    </th>
                    <th>
                        Reisetid
                    </th>
                    <th>
                        Hva vil du gjøre?
                    </th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FraFlyplass)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TilFlyplass)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pris)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FlyTid)
                        </td>
                        <td>
                            <span class="miniKnapp endre">@Html.ActionLink("Endre", "EndreFlyrute", new { id = item.StrekningsID }, new { @class = "tabKnapp" })</span>
                            <span class="miniKnapp detaljer">
                                <a href="#VisFlyruterModal" class="tabKnapp" id="visFlyruterKnapp"
                                   data-navn="<i>Id: @item.StrekningsID</i><br/>Fra: @item.FraFlyplass <br/>Til: @item.TilFlyplass <br/>Den: @item.Dato <br/>Klokken: @item.Tid <br/>Pris: @item.Pris<br/>Flytid (i minutter): @item.FlyTid<br/>Antall ledige seter: @item.AntallLedigeSeter "
                                   data-id="@item.StrekningsID" data-toggle="modal" data-visFlyruterModal="true">Detaljer</a>
                            </span>
                            <span class="miniKnapp slett">
                                <a href="#sletteFlyruterModal" class="tabKnapp" id="sletteKnapp"
                                   data-navn="<i>Id: @item.StrekningsID</i><br/>Fra: @item.FraFlyplass <br/>Til: @item.TilFlyplass <br/>Den: @item.Dato <br/>Klokken: @item.Tid" @*Fjernet at vi viste frem all data!*@
                                   data-id="@item.StrekningsID" data-toggle="modal" data-sletteFlyruterModal="true">Slett</a>
                            </span>
                        </td>
                    </tr>
                }

            </table>
            </div>
            <div class="row">
                @Html.Partial("SlettFlyruterModal")
                @Html.Partial("VisFlyruterModal")
            </div>
        </div>
</body>
