@model IEnumerable<Tusimaka.Model.Kunde>

@{
    ViewBag.Title = "KundeAdministrer";
}
@Html.Raw(TempData["error"])
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Viser navbar-knappene kun når Admin er logget inn.
        $(".navbar-nav").removeAttr("hidden");

        // Gjør om logginn-knapp til loggut-knapp.
        $(".loggInnUt").attr("href", "/Admin/LoggUt");
        $(".loggInnUt").text("LOGG UT");

        // Gir den aktive siden en active-klasse med styling som markerer.
        $(".navbar").find(".active").removeClass("active");
        $(".kundeAdministrer").addClass("active");
        
        $('a[data-sletteModal=true]').click(function () {
            var data_navn = $(this).data('navn');
            var data_id = $(this).data('id');
            $('#slettKunde').html(data_navn);
            $("#sletteModalKnapp").click(function () {
                $.ajax({
                    url: '@Url.Action("slettKunde", "Admin")',
                    data: { id: data_id },  // en parameter inn i slett(id)-metoden i kunde-kontrolleren (JSON-objekt)
                    success: function () {
                        // må kalle liste-metoden for å vise den nye listen av kunder
                        $.ajax({
                            url: '@Url.Action("KundeAdministrer", "Admin")',
                            success: function () {
                                // så må siden reloades!
                                window.location.reload();
                            }
                        });
                        }
                    });
                })
            })
        });
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Administrer Kunder</h2>
        </div>
    </div>

    <div class="row header-spacing">
        <div class="col-lg-12">
            <span class="miniMenyKnapp">@Html.ActionLink("TILBAKE", "AdminStart")</span>
            <span class="miniMenyKnapp">@Html.ActionLink("LEGG TIL", "RegistrerKunde")</span>

    <table class="table">
        <tr>
            <th>
                Kunde ID
            </th>
            <th>
                Fornavn
            </th>
            <th>
                Etternavn
            </th>
            <th>
                Epost
            </th>
            <th>
                Kjønn
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KundeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etternavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Epost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kjonn)
                </td>
                <td class="rundknapp-spacing">
                    <div class="rundKnapp">
                        <div class="miniKnapp detaljer" title="Se bestillinger">@Html.ActionLink("Se", "KundeBestillinger", new { id = item.KundeID }, new { @class = "tabKnapp" })</div>
                    </div>
                </td>
                <td class="rundknapp-spacing">
                    <div class="rundKnapp">
                        <div class="miniKnapp add" title="Legg til ny bestilling">@Html.ActionLink("Ny", "NyKundeBestilling", new { id = item.KundeID }, new { @class = "tabKnapp" })</div>
                    </div>
                </td>
                <td class="rundknapp-spacing">
                    <div class="rundKnapp">
                        <div class="miniKnapp endre" title="Endre kundeinformasjon">@Html.ActionLink("Endre", "EndreKunde", new { id = item.KundeID }, new { @class = "tabKnapp" })</div>
                    </div>
                </td>
                <td class="rundknapp-spacing">
                    <div class="rundKnapp">
                        <div class="miniKnapp slett" title="Slett kunden">
                            <a href="#sletteModal" class="tabKnapp" id="sletteKnapp"
                               data-navn="<i>KundeId: @item.KundeID </i><br/>Fornavn: @item.Fornavn<br/>Etternavn: @item.Etternavn<br/>Epost: @item.Epost <br/>Kjønn: @item.Kjonn"
                               data-id="@item.KundeID" data-toggle="modal" data-sletteModal="true">Slett</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
    @Html.Partial("SlettKundeModal")
        </div>
    </div>
    </div>
