@model IEnumerable<Tusimaka.Model.Kunde>

@{
    ViewBag.Title = "KundeAdministrer";
}
<script type="text/javascript">
    $(document).ready(function () {
        // lag en hendelse som utføres når en a-href med "data-SletteModal = true" trykkes.
        $('a[data-sletteModal=true]').click(function () {

            // hent inn data-taggene fra denne a-hef lenken
            var data_navn = $(this).data('navn');
            var data_id = $(this).data('id');

            // legg ut dataene i div'en i modal-view'et
            $('#slettKunde').html(data_navn);

            // lag en hendelse for knappen for å slette via ajax, knappen ligger i modal-view'et
            // må ligge inne i denne overordnede funksjonen for at id'én som er valgt kan brukes
            $("#sletteModalKnapp").click(function () {
                // id som skal slettes ligger i data_id
                $.ajax({
                    url: '@Url.Action("slettKunde", "Admin")',
                    data: { id: data_id },  // en parameter inn i slett(id)-metoden i kunde-kontrolleren (JSON-objekt)
                    success: function () {
                        // må kalle liste-metoden for å vise den nye listen av kunder
                        $.ajax({
                            url: '@Url.Action("KundeAdministrer", "Admin")',
                            success: function () {
                                // så må siden reloades!
                                window.location.reload();
                            }
                        });
                        }
                    });
                })
            })
        });
</script>
<h2>KundeAdministrer</h2>

<p>
    @Html.ActionLink("Legg til kunde", "RegistrerKunde")
</p>
<table class="table">
    <tr>
        <th>
            Fornavn
        </th>
        <th>
            Etternavn
        </th>
        <th>
            Epost
        </th>
        <th>
            Kjønn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fornavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etternavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Epost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kjonn)
        </td>
        <td>
            @Html.ActionLink("Edit", "EndreKunde", new { id=item.KundeID }, new { @class="tabKnapp"}) |
            @Html.ActionLink("Se bestillinger", "KundeBestillinger", new { id=item.KundeID }, new { @class = "tabKnapp" }) |
            <a href="#sletteModal" class="tabKnapp" id="sletteKnapp"
               data-navn="<i>KundeId: @item.KundeID </i><br/>Fornavn: @item.Fornavn<br/>Etternavn: @item.Etternavn<br/>Epost: @item.Epost <br/>Kjønn: @item.Kjonn"
               data-id="@item.KundeID" data-toggle="modal" data-sletteModal="true">Slett</a>
        </td>
    </tr>
}
</table>
@Html.Partial("SlettKundeModal")
