@model IEnumerable<Tusimaka.Model.KundeBestillinger>

@{
    ViewBag.Title = "KundeBestillinger";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('a[data-sletteKundeBestillingModal=true]').click(function () {
            
            var data_navn = $(this).data('navn');
            var data_id = $(this).data('id');
            
            $('#slettKundeBestilling').html(data_navn);

            $("#sletteKundeBestillingModalKnapp").click(function () {
                $.ajax({
                    url: '@Url.Action("SlettBestilling", "Admin")',
                    data: { id: data_id }, 
                    success: function () {
                        $.ajax({
                            url: '@Url.Action("KundeBestillinger", "Admin")',
                            success: function () {
                                window.location.reload();
                            }
                        });
                        }
                    });
                })
            })
        });
</script>
<h2>KundeBestillinger</h2>

<p>
    @Html.ActionLink("Legg til ny bestilling", "NyKundeBestilling")
</p>
<table class="table">
    <tr>
        <th>
            Kunde id
        </th>
        <th>
            Fornavn
        </th>
        <th>
            Etternavn
        </th>
        <th>
            Flight Nr
        </th>
        <th>
            Fra flyplass
        </th>
        <th>
            Til flyplass
        </th>
        <th>
            Dato
        </th>
        <th>
            Tidspunkt
        </th>
        <th>
            Pris
        </th>
        <th>
            Antall personer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KundeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fornavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etternavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrekningsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FraFlyplass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TilFlyplass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pris)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AntallPersoner)
        </td>
        <td>
            @Html.ActionLink("Edit", "EndreKundeBestilling", new { id=item.KundeID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            <a href="#sletteKundeBestillingModal" class="tabKnapp" id="sletteKnapp"
               data-navn="Kunde: id - @item.KundeID  Fornavn - @item.Fornavn Etternavn - @item.Etternavn<br/>FlightNR: @item.StrekningsID <br/>Fra flyplass: @item.FraFlyplass<br/>Til flyplass @item.TilFlyplass <br/>Dato: @item.Dato  <br/> Tidspunkt: @item.Tid"
               data-id="@item.KundeID" data-toggle="modal" data-sletteKundeBestillingModal="true">Slett</a>
        </td>
    </tr>
}

</table>
@Html.Partial("SlettKundeBestillingModal")
