@model List<Tusimaka.Model.KundeBestillinger>

@{
    ViewBag.Title = "KundeBestillinger";
}
<link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".navbar-nav").removeAttr("hidden");
        $(".loggInnUt").attr("href", "/Admin/LoggUt");
        $(".loggInnUt").text("LOGG UT");
        $(".navbar").find(".active").removeClass("active");
        $(".kundeAdministrer").addClass("active");

        $('a[data-sletteKundeBestillingModal=true]').click(function () {
            
            var data_navn = $(this).data('navn');
            var data_id = $(this).data('id');
            
            $('#slettKundeBestilling').html(data_navn);

            $("#sletteKundeBestillingModalKnapp").click(function () {
                $.ajax({
                    url: '@Url.Action("SlettBestilling", "Admin")',
                    data: { id: data_id }, 
                    success: function () {
                        $.ajax({
                            url: '@Url.Action("KundeBestillinger", "Admin")',
                            success: function () {
                                window.location.reload();
                            }
                        });
                        }
                    });
                })
            })
    });
</script>
<div class="container">
    <div class="row">
        <div class="overskrift">
            <h2>Kundebestillinger</h2>
        </div>
        <div class="utenforKnapp">
            <div class="rundknapp-spacing">
                <div class="rundKnapp">
                    <div class="miniKnapp add" title="Legg til ny bestilling">@Html.ActionLink("Ny", "NyKundeBestilling", new { id = Session["KundeID"] })</div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Count() == 0)
    {
        <h3>Det er ingen bestillinger å vise for denne kunden!</h3>
    }
    else
    {
        <h3> Viser flybestillinger for 
            @Html.DisplayFor(model => model.First().Fornavn)
            @Html.DisplayFor(model => model.First().Etternavn)
        </h3>
        
        <span class="miniMenyKnapp header-spacing">@Html.ActionLink("Tilbake", "KundeAdministrer")</span>
    <table class="table header-spacing">
        <tr>
            <th>
                Flight Nr
            </th>
            <th>
                Fra flyplass
            </th>
            <th>
                Til flyplass
            </th>
            <th>
                Dato
            </th>
            <th>
                Tidspunkt
            </th>
            <th>
                Pris
            </th>
            <th>
                Antall personer
            </th>
            <th>
                Kortnummer
            </th>
            <th>
                Korttype
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StrekningsID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FraFlyplass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TilFlyplass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pris)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AntallPersoner)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Kortnummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Korttype)
                </td>
                <td class="rundknapp-spacing">
                    <div class="rundKnapp">
                        <div class="miniKnapp slett">
                            <a href="#sletteKundeBestillingModal" class="tabKnapp" id="sletteKnapp"
                               data-navn="@item.Fornavn @item.Etternavn<br/>FlightNR: @item.StrekningsID <br/>Fra flyplass: @item.FraFlyplass<br/>Til flyplass @item.TilFlyplass <br/>Dato: @item.Dato  <br/> Tidspunkt: @item.Tid"
                               data-id="@item.KundeID" data-toggle="modal" data-sletteKundeBestillingModal="true">Slett</a>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
    @Html.Partial("SlettKundeBestillingModal")
    }
</div>