@model IEnumerable<Tusimaka.Model.Kunde>

@{
    ViewBag.Title = "KundeAdministrer";
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
            $(".kundeAdministrer").addClass("active");
        
        
        $('a[data-sletteModal=true]').click(function () {
            var data_navn = $(this).data('navn');
            var data_id = $(this).data('id');
            $('#slettKunde').html(data_navn);
            $("#sletteModalKnapp").click(function () {
                $.ajax({
                    url: '@Url.Action("slettKunde", "Admin")',
                    data: { id: data_id },  // en parameter inn i slett(id)-metoden i kunde-kontrolleren (JSON-objekt)
                    success: function () {
                        // må kalle liste-metoden for å vise den nye listen av kunder
                        $.ajax({
                            url: '@Url.Action("KundeAdministrer", "Admin")',
                            success: function () {
                                // så må siden reloades!
                                window.location.reload();
                            }
                        });
                        }
                    });
                })
            })
        });
</script>
<div class="container">
    <div class="row">
        <h2>Administrer Kunder</h2>
        <span class="loggUt">@Html.ActionLink("LOGG UT", "LoggUt")</span>
    </div>

    <div class="row">
        <span class="miniMenyKnapp">@Html.ActionLink("TILBAKE", "AdminStart")</span>
        <span class="miniMenyKnapp">@Html.ActionLink("LEGG TIL", "RegistrerKunde")</span>
    </div>

    <table class="table">
        <tr>
            <th>
                Fornavn
            </th>
            <th>
                Etternavn
            </th>
            <th>
                Epost
            </th>
            <th>
                Kjønn
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etternavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Epost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kjonn)
                </td>
                <td>
                    <span class="miniKnapp endre">@Html.ActionLink("Endre", "EndreKunde", new { id = item.KundeID }, new { @class = "tabKnapp" })</span>
                    <span class="miniKnapp detaljer">@Html.ActionLink("Bestillinger", "KundeBestillinger", new { id = item.KundeID }, new { @class = "tabKnapp" })</span>
                    <span class="miniKnapp add">@Html.ActionLink("Ny bestilling", "NyKundeBestilling", new { id = item.KundeID }, new { @class = "tabKnapp" })</span>
                    <span class="miniKnapp slett">
                        <a href="#sletteModal" class="tabKnapp" id="sletteKnapp"
                           data-navn="<i>KundeId: @item.KundeID </i><br/>Fornavn: @item.Fornavn<br/>Etternavn: @item.Etternavn<br/>Epost: @item.Epost <br/>Kjønn: @item.Kjonn"
                           data-id="@item.KundeID" data-toggle="modal" data-sletteModal="true">Slett</a>
                    </span>
                </td>
            </tr>
        }
    </table>
    @Html.Partial("SlettKundeModal")
    </div>
