@model IEnumerable<Tusimaka.Model.KundeBestillinger>

@{
    ViewBag.Title = "KundeBestillinger";
}
<link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('a[data-sletteKundeBestillingModal=true]').click(function () {
            
            var data_navn = $(this).data('navn');
            var data_id = $(this).data('id');
            
            $('#slettKundeBestilling').html(data_navn);

            $("#sletteKundeBestillingModalKnapp").click(function () {
                $.ajax({
                    url: '@Url.Action("SlettBestilling", "Admin")',
                    data: { id: data_id }, 
                    success: function () {
                        $.ajax({
                            url: '@Url.Action("KundeBestillinger", "Admin")',
                            success: function () {
                                window.location.reload();
                            }
                        });
                        }
                    });
                })
            })
        });
</script>
<div class="container">
    <div class="row">
        <h2>Kundebestillinger</h2>
        <span class="loggUt">@Html.ActionLink("LOGG UT", "LoggUt")</span>
    </div>
    @* Her må det endres til å bare gå ut en gang... *@
    @* Og vise noe når det ikke er noen bestillinger... *@
    @* Funker ikke når kunde ikke har bestillinger *@
    @for (int index = 0; index < 1; index++)
    {
        <h2>
            Viser flybestillinger for
            @Html.DisplayFor(model => model.ToArray()[index].Fornavn)

            @Html.DisplayFor(model => model.ToArray()[index].Etternavn)
        </h2>

        <h4>
            Kundeid:
            @Html.DisplayFor(model => model.ToArray()[index].KundeID)
        </h4>
    }


    <p>
        @Html.ActionLink("Tilbake", "KundeAdministrer")
    </p>
    <table class="table">
        <tr>
            <th>
                Flight Nr
            </th>
            <th>
                Fra flyplass
            </th>
            <th>
                Til flyplass
            </th>
            <th>
                Dato
            </th>
            <th>
                Tidspunkt
            </th>
            <th>
                Pris
            </th>
            <th>
                Antall personer
            </th>
            <th>
                Kortnummer
            </th>
            <th>
                Korttype
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StrekningsID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FraFlyplass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TilFlyplass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pris)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AntallPersoner)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Kortnummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Korttype)
                </td>
                <td class="adminStartMiniKnapp">
                    <span class="miniKnapp">@Html.ActionLink("Edit", "EndreKundeBestillinger", new { id = item.KundeID }, new { @class = "tabKnapp" }) </span>
                    <span class="miniKnapp slett">
                        <a href="#sletteKundeBestillingModal" class="tabKnapp" id="sletteKnapp"
                           data-navn="Kunde: id - @item.KundeID  Fornavn - @item.Fornavn Etternavn - @item.Etternavn<br/>FlightNR: @item.StrekningsID <br/>Fra flyplass: @item.FraFlyplass<br/>Til flyplass @item.TilFlyplass <br/>Dato: @item.Dato  <br/> Tidspunkt: @item.Tid"
                           data-id="@item.KundeID" data-toggle="modal" data-sletteKundeBestillingModal="true">Slett</a>
                    </span>
                </td>
            </tr>
        }

    </table>
    @Html.Partial("SlettKundeBestillingModal")
</div>