@model IEnumerable<Tusimaka.Model.FlyBestillingKunde>

@{
    ViewBag.Title = "KundeBestillinger";
}

<h2>KundeBestillinger</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FlyBestillingsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KundeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FlyBestillingsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KundeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FlyBestillingsKundeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FlyBestillingsKundeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FlyBestillingsKundeID })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Tilbake til kundeadmin", "KundeAdministrer")
</div>
