@model Tusimaka.Model.AdminBruker

@{
    ViewBag.Title = "LoggInn";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="container header-spacing">
        <div class="row">
            <div class="col-lg-12">
                <h2>Logg Inn</h2>
            </div>
        </div>
        <div class="row loggInnFelt header-spacing">
            <div class="col-lg-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="blokker form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Brukernavn, new { htmlAttributes = new { placeholder = "Brukernavn", @class = "selectUtseende fullStrl" } })
                            @Html.ValidationMessageFor(model => model.Brukernavn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Passord, new { htmlAttributes = new { placeholder = "Passord", @class = "selectUtseende fullStrl" } })
                            @Html.ValidationMessageFor(model => model.Passord, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <input type="submit" value="Logg inn" id="loggInn" class="knapp" />
                    @if (ViewBag.Innlogget == false)
                    {
                        <p style="color:#B62B32">Brukernavn/Passord er feil, vennligst prøv igjen.</p>
                    }
                </div>
             }
            </div>
         </div>
            
         <div class="bilde">
            <img class="logoTusimaka" src="~/tusimaka.png" alt="Logo bakgrunn" />
         </div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>
</html>
