@model Tusimaka.Model.Strekning

@{
    ViewBag.Title = "RegistrerFlyrute";
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        // Viser navbar-knappene kun når Admin er logget inn.
        $(".navbar-nav").removeAttr("hidden");

        // Gjør om logginn-knapp til loggut-knapp.
        $(".loggInnUt").attr("href", "/Admin/LoggUt");
        $(".loggInnUt").text("LOGG UT");

        // Gir den aktive siden en active-klasse med styling som markerer.
        $(".navbar").find(".active").removeClass("active");
        $(".flyruterAdministrer").addClass("active");
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Registrer Flyrute</h2>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal header-spacing">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.StrekningsID)
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FraFlyplass, new { htmlAttributes = new { placeholder = "Fra flyplass", @class = "tekstFelt fullStrl" } })
                    @Html.ValidationMessageFor(model => model.FraFlyplass, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TilFlyplass, new { htmlAttributes = new { placeholder = "Til flyplass", @class = "tekstFelt fullStrl" } })
                    @Html.ValidationMessageFor(model => model.TilFlyplass, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dato, new { htmlAttributes = new { placeholder = "Dato", @class = "tekstFelt fullStrl" } })
                    @Html.ValidationMessageFor(model => model.Dato, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tid, new { htmlAttributes = new { placeholder = "Tidspunkt", @class = "tekstFelt fullStrl" } })
                    @Html.ValidationMessageFor(model => model.Tid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pris, new { htmlAttributes = new { placeholder = "Pris", @class = "tekstFelt fullStrl" } })
                    @Html.ValidationMessageFor(model => model.Pris, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FlyTid, new { htmlAttributes = new { placeholder = "Reisetid", @class = "tekstFelt fullStrl" } })
                    @Html.ValidationMessageFor(model => model.FlyTid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AntallLedigeSeter, new { htmlAttributes = new { placeholder = "Antall ledige seter", @class = "tekstFelt fullStrl" } })
                    @Html.ValidationMessageFor(model => model.AntallLedigeSeter, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Registrer" id="create" class="knapp" />
                    <span class="knapp">@Html.ActionLink("Avbryt", "FlyruterAdministrer")</span>
                </div>
            </div>
        </div>
    }
    </div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
