@model Tusimaka.Model.Kunde

@{
    ViewBag.Title = "RegistrerKunde";
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <h2>Registrer Kunde</h2>
        <span class="loggUt">@Html.ActionLink("LOGG UT", "LoggUt")</span>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.KundeID)
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fornavn, new { htmlAttributes = new { placeholder = "Fornavn", @class = "tekstFelt fullStrl" } })
                    @Html.ValidationMessageFor(model => model.Fornavn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Etternavn, new { htmlAttributes = new { placeholder = "Etternavn", @class = "tekstFelt fullStrl" } })
                    @Html.ValidationMessageFor(model => model.Etternavn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Epost, new { htmlAttributes = new { placeholder = "Epost", @class = "tekstFelt fullStrl" } })
                    @Html.ValidationMessageFor(model => model.Epost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10" id="kjonn">
                    <select id="velgKjonn" class="tekstFelt fullStrl" name="kjonn" placeholder="Kjønn" required>
                        <option name="velg" disabled selected>Velg kjønn</option>
                        <option name="mann" value="Mann">Mann</option>
                        <option name="kvinne" value="Kvinne">Kvinne</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Kjonn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 valg">
                    <span class="knapp">@Html.ActionLink("Avbryt", "KundeAdministrer")</span>
                    <input type="submit" value="Registrer" id="create" class="knapp" />
                </div>
            </div>
        </div>
    }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
