@model Tusimaka.Models.Kunder

@{
    ViewBag.Title = "Bekreftelse";
}

<h2>Bekreftelse</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>



    <tr>
        <td>
            @Model.fornavn
        </td>
        <td>
            @Model.etternavn
        </td>
        <td>
            @Model.kjonn
        </td>
    </tr>
    <tr>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=Model.kundeID }) |
            @Html.ActionLink("Details", "Details", new { id= .kundeID }) |
            @Html.ActionLink("Delete", "Delete", new { id= Kunder.kundeID })
        </td>*@
    </tr>


</table>
