@model Tusimaka.Models.Kunde

@{
    ViewBag.Title = "KundeRegistrering";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
    </script>
</head>
<body>
    <h2>Kunde registrering</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Vennligst oppgi informasjon om reisende</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Fornavn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.Fornavn, "", new { @class = "text-danger" })
                    <input id="fornavn" type="text" class="knappUtseende selectUtseende" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Etternavn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.Etternavn, "", new { @class = "text-danger" })
                    <input id="etternavn" type="text" class="knappUtseende selectUtseende" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    <ul>
                        <li><input type="radio" name="person" value="voksen" id="voksen"> <label for="voksen">Voksen</label></li>
                        <li><input type="radio" name="person" value="barn"> <label for="barn">Barn</label></li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Bestill")
    </div>
    </body>
</html>