@*@model Tusimaka.Models.Kunde*@
@model Tusimaka.Models.FlyBestilling

@{
    ViewBag.Title = "KundeRegistrering";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function tilbakeKnapp() {
            window.history.back();
        }
        
    </script>
</head>
<body>
    <h2>Kunderegistrering</h2>
    

    @*@if (Model.antallPersoner == 1)
    {
    <h3>Du har valgt @Model.antallPersoner  person, men vi trenger bare infoen til deg som bestiller. Fyll inn her! </h3>
    }
    else
    {
    <h3>Du har valgt @Model.antallPersoner  personer, men vi trenger bare infoen til deg som bestiller. Fyll inn her! </h3>
    }*@
    @using (Html.BeginForm())
    {
            <div class="skjema">
                <div class="form-group">
                    <h4>Kunde</h4>
                    <!--FIKS-->

                </div>
                <div class="form-group">
                    <div class="col-md-10" id="fornavn">
                        <p>FORNAVN</p>
                        <input name="Fornavn" type="text" class="knappUtseende selectUtseende" />@Html.ValidationMessageFor(model => model.Fornavn, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10" id="etternavn">
                        <p>ETTERNAVN</p>
                        <input name="Etternavn" type="text" class="knappUtseende selectUtseende" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10" id="kjonn">
                        <p>KJØNN</p>
                        <select name="Kjonn" class="knappUtseende selectUtseende">
                            <option name="velg" disabled selected>Velg</option>
                            <option name="mann">Mann</option>
                            <option name="kvinne">Kvinne</option>
                        </select>
                    </div>
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-10" id="registrerKnapp">
                <input type="submit" name="registrer" id="registrer" value="Registerer" class="knapp" />
            </div>
        </div>
            
        }

                @*@using (Html.BeginForm("Bekreftelse", "Home"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Vennligst oppgi informasjon om reisende</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="skjema">
                                <div class="form-group">
                                    <div class="col-md-10" id="fornavn">
                                        <p>FORNAVN</p>
                                        <input id="fornavn" type="text" class="knappUtseende selectUtseende" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10" id="etternavn">
                                        <p>ETTERNAVN</p>
                                        <input id="etternavn" type="text" class="knappUtseende selectUtseende" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10" id="kjonn">
                                        <p>KJØNN</p>
                                        <select id="velgKjonn" class="knappUtseende selectUtseende" >
                                            <option name="velg" disabled selected>Velg</option>
                                            <option name="mann">Mann</option>
                                            <option name="kvinne">Kvinne</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <button id="tilbake" class="knapp">
                                            @Html.ActionLink("Tilbake til bestilling", "Bestill")
                                        </button>
                                        <input type="submit" name="registrer" id="registrer" value="Registerer" class="knapp"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }*@


    </body>
