@model Tusimaka.Models.Kunde

@{
    ViewBag.Title = "Kunderegistrering";
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<h2>Kunderegistrering</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vennligst registrerer informasjon til betalende</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.KundeID)
        <div class="form-group">
            <div class="col-md-10">
                <p>FORNAVN</p>
                @Html.EditorFor(model => model.Fornavn, new { htmlAttributes = new { @class = "tekstFelt" } })
                @Html.ValidationMessageFor(model => model.Fornavn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <p>ETTERNAVN</p>
                @Html.EditorFor(model => model.Etternavn, new { htmlAttributes = new { @class = "tekstFelt" } })
                @Html.ValidationMessageFor(model => model.Etternavn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <p>E-POST</p>
                @Html.EditorFor(model => model.Epost, new { htmlAttributes = new { @class = "tekstFelt" } })
                @Html.ValidationMessageFor(model => model.Epost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10" id="kjonn">
                <p>KJØNN</p>
                <select id="velgKjonn" class="tekstFelt" name="kjonn">
                    <option name="velg" disabled selected>Velg</option>
                    <option name="mann" value="Mann">Mann</option>
                    <option name="kvinne" value="Kvinne">Kvinne</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Registrer" name="RegistrerKunde" id="registrer" class="knapp" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
