@model Tusimaka.Models.BetalingsInformasjon

@{
    ViewBag.Title = "RegistrerBetaling";
}

<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<h2>RegistrerBetaling</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BetalingsInformasjon</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BestillingsID)

        <div class="form-group">
            <div class="col-md-10">
                <p>KORTNUMMER</p>
                @Html.EditorFor(model => model.Kortnummer, new { htmlAttributes = new { @class = "formFelter" } })
                @Html.ValidationMessageFor(model => model.Kortnummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-sm-2 col-xs-10">
                <p>UTLØPSMÅNED</p>
                @Html.EditorFor(model => model.Utlopsmnd, new { htmlAttributes = new { @class = "formFelter" } })
                @Html.ValidationMessageFor(model => model.Utlopsmnd, "", new { @class = "text-danger" })
            </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-sm-2 col-xs-10">
                    <p>UTLØPSÅR</p>
                    @Html.EditorFor(model => model.Utlopsaar, new { htmlAttributes = new { @class = "formFelter" } })
                    @Html.ValidationMessageFor(model => model.Utlopsaar, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-10">
                <p>CVC</p>
                @Html.EditorFor(model => model.CVC, new { htmlAttributes = new { @class = "formFelter" } })
                @Html.ValidationMessageFor(model => model.CVC, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-10">
                <p>KORTTYPE</p>
                @Html.EditorFor(model => model.Korttype, new { htmlAttributes = new { @class = "formFelter" } })
                @Html.ValidationMessageFor(model => model.Korttype, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Bekreft betaling" name="BekreftBetaling" id="bekreftBetaling" class="knapp" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
